<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <% unless my_friends.include?(@user) %>
    <% unless my_friends %>
      <%= render 'friendships/friend_request', user: @user %>
    <% end %>
  <% end %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
